@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-800 antialiased;
}

/* Custom styles for content body to ensure wrapping */
.content-body {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}